@import "remote.css"; /* 리모콘 */
@import "note.css"; /* 노트 */
@import "nav.css"; /* 네비게이션 */
@import "reset.css"; /* 초기화 */

body {
  background-color: #eeeeee;
}
section {
  background-color: white;
}
bold {
  font-size: 25px;
  font-weight: bold;
}
span {
  display: block;
  margin: 10px 0;
}
br {
  margin: 20px 0;
}
